[submodule "thirdparty/LaunchAtLoginController"]
	path = thirdparty/LaunchAtLoginController
	url = https://github.com/Mozketo/LaunchAtLoginController.git
[submodule "thirdparty/MailCore"]
	path = thirdparty/MailCore
	url = https://github.com/RudyAramayo/MailCore.git
